@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?1z8yhe');
  src:  url('fonts/icons.eot?1z8yhe#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?1z8yhe') format('truetype'),
    url('fonts/icons.woff?1z8yhe') format('woff'),
    url('fonts/icons.svg?1z8yhe#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-right:before {
  content: "\e901";
}
.icon-chevron-left:before {
  content: "\e902";
}
.icon-chevron-down:before {
  content: "\e903";
}
.icon-chevron-up:before {
  content: "\e904";
}
.icon-home:before {
  content: "\e900";
}
.icon-house:before {
  content: "\e900";
}
